Authorization header contents are modified (double-quotes are removed)

We use Play 2.6.0-M2 which uses Akka-Http by default. In our tests, we've noticed that the 'Authorization' header is being rewritten such that some fields have double-quotes missing. For instance, the following authorization header:

Signature keyId="abcd",f="AzzfH",signature="KG5tzNGCJHAc",headers="data (request-target) host"

is transformed into:

Signature keyId=abcd,f=AzzfH,signature=KG5tzNGCJHAc,headers="data (request-target) host"

It looks like if a value (as in key="value") contains a '/' or a ' ', the double-quotes are left in place. Otherwise they are removed. Those are just two of the characters I tested for. There are probably more.

Our expectation (valid?) is that the header should be left untouched by Akka-Http at least when the auth scheme is 'Signature'.

I've also tried this test using the play-rest-api test project (https://github.com/playframework/play-scala-rest-api-example). I had to make some changes to upgrade to play 2.6 and add an action to dump headers but no other changes were made.

Need to check with the spec, but wasn't Authorisation required to have the value in "" entirely too?

For signature verification, we're using `https://tools.ietf.org/html/draft-cavage-http-signatures-06`. This is still a draft but I don't see the quoting requirement for the entire Authorization header in there. I also checked the example at `https://tools.ietf.org/html/rfc2617#section-3.5` but the authorization header contents don't need to be quoted.

In akka-http, there's no guarantee that a parsing -> rendering round-trip retains all headers verbatim. Instead, it is guaranteed that a semantically equivalent header (as according to the relevant specification) will be returned.

That said, this doesn't apply to play's akka-http backend, as play may guarantee something else than akka-http. The issue arises because play needlessly parses outgoing headers using akka-http's parser. Instead it should just use a `RawHeader`. This is something we will fix soon anyway. Let's keep this one open until it is fixed in play.

Was this filed in play as well and is it still an issue? I'm closing it here for now as we probably won't be able to do anything.

A separate issue is that Akka HTTP may alter the value of other headers but [that RFC says](https://tools.ietf.org/html/draft-cavage-http-signatures-06#section-2.3):

>   2.  Create the header field string by concatenating the lowercased
       header field name followed with an ASCII colon `:`, an ASCII
       space ` `, and the header field value.  Leading and trailing
       optional whitespace (OWS) in the header field value MUST be
       omitted (as specified in RFC7230 [RFC7230], Section 3.2.4 [6]).
       If there are multiple instances of the same header field, all
       header field values associated with the header field MUST be
       concatenated, separated by a ASCII comma and an ASCII space `, `,
       and used in the order in which they will appear in the
       transmitted HTTP message.  **Any other modification to the header
       field value MUST NOT be made.**

(My emphasis.)

Related issue that would help resolve this: #1550 

Wrt to signature calculations, it must be made sure that 

 1. signatures are calculated on some normalization of header values
 2. or if a signature is calculated on a verbatim rendering, then, you need to calculate the signature on whatever akka http renders (but this usually isn't an issue because most signature algorithms are defined on normalized renderings or semantic interpretations of headers for exactly this reason)