Empty entity should set Content-Length header

When a Play application running on akka-http returns status 205 Reset Content, some clients hang with this response and just wait for it to complete, even though the server considers it is complete and will never send any further data. I have encountered the issue with the following clients: `play-ws-standalone` (with underlying Netty-based AHC), Apache Commons `http-client`, and `curl` in command line. Some clients do not hang and immediately consider the request complete, such as Chrome or Firefox browsers.

It has to do with the fact that the response has no body (which is correct, as mandated by RFC for status 205), and no indication of content length to explicitly say that there is no body. That last part is incorrect behavior according to RFC 7231 section 6.3.6:

> Since the 205 status code implies that no additional content will be provided, a server MUST NOT generate a payload in a 205 response.  In other words, a server MUST do one of the following for a 205 response: a) indicate a zero-length body for the response by including a Content-Length header field with a value of 0; b) indicate a zero-length payload for the response by including a Transfer-Encoding header field with a value of chunked and a message body consisting of a single chunk of zero-length; or, c) close the connection immediately after sending the blank line terminating the header section.

It seems the HTTP clients I've identified, do rely on this requirement stated by RFC. Testing with servers that add the `Content-Length: 0` header, they work as expected. Also, they may eventually work if the server reaches its connection timeout before the client does, and thus closes the connection (which is a valid way to complete the response as seen from the client).

I found an earlier mention of this issue in 2021 on [Gitter](https://gitter.im/playframework/playframework?at=6017e61232e01b4f71692e76) but it seems to not have been followed through.

Credit to Ben Fradet for identifying the same issue with Tomcat in 2017; I shamelessly copy-pasted half of [his issue on the Apache tracker](https://bz.apache.org/bugzilla/show_bug.cgi?id=61086) over here.