SSE Even stream not immediately completed when client disconnects

Akka http `10.1.0`

Reproducer below

```scala
                get {
                  complete {
                    logger.info("start")
                    Source
                      .tick(60.seconds, 60.seconds, NotUsed)
                      .map(_ => ServerSentEvent("test"))
                      .watchTermination() { (m, f) =>
                        f.onComplete(r => logger.info(r.toString))
                        m
                      }
                   }
                 }
```

Now make a very short connection

```bash
curl http://localhost:8090/test
# once the connection is made press ctrl-c
^C
```

You will see that it takes 120 seconds for the stream to complete

```
13:49:02.390 INFO  - Foo - start
13:51:02.414 INFO  - Foo - Success(Done)
```


It is actually unrelated to SSE, just streaming a response and cancelling early with curl leads to the same behavior. I'll investigate a bit more.

The following diff fixes it, but I'm not 100% sure this doesn't accidentally re-introduce some deadlock (I did not understand all the details around f32a0d35a5bbe4ee38039035a3a2deb7b4aa2cb5).

```diff
diff --git a/akka-http-core/src/main/scala/akka/http/impl/engine/rendering/HttpResponseRendererFactory.scala b/akka-http-core/src/main/scala/akka/http/impl/engine/rendering/HttpResponseRendererFactory.scala
index b769b007d..a8a3d61b6 100644
--- a/akka-http-core/src/main/scala/akka/http/impl/engine/rendering/HttpResponseRendererFactory.scala
+++ b/akka-http-core/src/main/scala/akka/http/impl/engine/rendering/HttpResponseRendererFactory.scala
@@ -91,9 +91,11 @@ private[http] class HttpResponseRendererFactory(
                 }
             }
 
-          override def onUpstreamFinish(): Unit =
-            if (transferring) closeMode = CloseConnection
-            else completeStage()
+          override def onUpstreamFinish(): Unit = {
+            closeMode = CloseConnection
+            stopTransfer()
+            completeStage()
+          }
 
           override def onUpstreamFailure(ex: Throwable): Unit = {
             stopTransfer()
```

In any case, the issue is caused by `HttpResponseRendererFactory`. In particular, the graph stage always waits for some element either from the input port or transfer sink input to close.

I think HTTP allows the scenario where the client closes (with `FIN`) the request when the server is still busy sending the response, so for that reason cutting the transfer short `onUpstreamFinish` would AFAICS be the wrong behavior.

In the `^C` case mentioned above, however, I would expect the client to abort both 'sides' of the connection with `RST`. In that case indeed we should abort the stream instead of running it to completion.

On Linux, when I interrupt curl with Ctrl+C, a `FIN` is sent but no `RST` and the socket is put into FIN_WAIT2 state.

I guess, the socket is kept around for a while for the usual reason that a completely closed socket will answer any incoming packets to that socket with `RST`. So, given an application that sends some data on a socket and then shuts down, you would like that data to still reach the other end. That can only be ensured if the socket is kept around until the other side has done its part of the TCP closing handshake.

On the server side that means we see a completion on the network input side but don't react to it. That's probably because in theory we support half-open connections where the response is streamed while the request is still coming in (as @raboof said above).

[RFC 7260 Section 6.6](https://tools.ietf.org/html/rfc7230#section-6.6) says this:

>   A client that receives a "close" connection option MUST cease sending
>   requests on that connection and close the connection after reading
>   the response message containing the "close"; if additional pipelined
>   requests had been sent on the connection, the client SHOULD NOT
>   assume that they will be processed by the server.

So this recommends clients to keep the connection open until after the response has been read.

So, I'd say, at least under a flag, we should support a behavior that propagates closing information and cancels an ongoing response entity when the network is closed prematurely.

All that said, without keep-alives there's no way to detect that a peer has "just gone away", i.e. it still has a routeable IP address but doesn't answer packets any more.

And that's also why we have the idle-timeouts as a last resort to close a connection where no data flows.

> So this recommends clients to keep the connection open until after the response has been read.

> So, I'd say, at least under a flag, we should support a behavior that propagates closing information and cancels an ongoing response entity when the network is closed prematurely.

Has this been implemented?

Leaving stale connections around doesn't seem like the best use of resources, particularly heavily loaded instances where many client SSE streams are opened/closed. Being able to watch for "close" event would be quite useful, I'd say that's a rather common scenario with SSE (indeed, it's the only information we have to work with in SSE one-way push model).

One more thing: if you add a keep-alive then despite the client (browser) end having closed the connection, the stream *never* completes.

```scala
val dispatcher = actorSystem.actorOf(Props(EventDispatcher()))

val sseRoute: Route = {
  (path("sse" / prefix) & parameters("topic")) { topic =>
    get {
      complete {
        val connectionId = UUID.randomUUID
        val (out, source) =
          Source
            .actorRef[ServerSentEvent](Int.MaxValue, akka.stream.OverflowStrategy.dropTail)
            .keepAlive(5.second, () => ServerSentEvent.heartbeat)
            .preMaterialize()

        dispatcher ! AddConnection(connectionId, topic, out)

        source.watchTermination() { (_, f) =>
          f onComplete { r =>
            println(s"Stream Status:\n$r")
            dispatcher ! RemoveConnection(connectionId)
            out ! PoisonPill
          }
        }
      }
    }
  }
}
``` 
New to Akka, so perhaps there's a better way to do the above, but as is it's a serious resource leak. Is there anything that can be done server-side to detect browser "close" event??

Using this route snippet on current `main`, I cannot reproduce the behavior you are describing:


```scala
          extractLog { logger =>
            import akka.http.scaladsl.marshalling.sse.EventStreamMarshalling.toEventStream
            complete {
              logger.info("start")
              Source.maybe[ServerSentEvent]
                .keepAlive(5.second, () => ServerSentEvent.heartbeat)
                .watchTermination() { (m, f) =>
                  f.onComplete(r => logger.info(r.toString))
                  m
                }: Source[ServerSentEvent, Any]
            }
          }
```

Can you provide a self-contained project showing the behavior with instructions to reproduce it?

I think everything works here as expected, even with Akka HTTP 10.1.0.

After the client closes the connection, we don't immediately close down the connection (as already explained above). What will bring down the connection eventually is either:

 * the `idle-timeout` (exactly for what reason it exists)
 * or the next keep-alive (or the one after that) packet which prevents the idle-timeout from kicking in but which will trigger a `RST` from the peer when next tries to send something

I created https://github.com/akka/akka-http/issues/4105 to deal with the extra optimization setting I suggested above (which is not needed to close the connection eventually).

I suspect that the ticket was originally opened because only the second write to a socket already fully closed by a peer will trigger the full connection closure. I created another ticket for Akka to investigate this behavior: https://github.com/akka/akka/issues/31338

In any case, these are inconveniences that could be optimized in the future but there is no indefinite leak, so I'm closing this ticket.


@jrudolph thanks, I can confirm that 10.2.8/9 works when SSE connection is invoked and cancelled via curl request (i.e. after cancelling the next keep-alive triggers `onComplete` handler in `watchTermination`).

However, the issue I'm dealing with is browser initiated SSE connections, and there the connection is never closed on akka http's end when keep-alive is enabled (without keep-alive connection is eventually closed based on `idle-timeout`).

I'll try to see what's happening on the browser end, and what differs between curl ^c, and browser `sse.close()` events.

> However, the issue I'm dealing with is browser initiated SSE connections, and there the connection is never closed on akka http's end when keep-alive is enabled (without keep-alive connection is eventually closed based on `idle-timeout`).

Ok, that's different for me. Is that using HTTP/2 from the browser?

> Ok, that's different for me. Is that using HTTP/2 from the browser?

HTTP 1.1, but it looks like my issue has something do with proxy setup in frontend Angular client. When I remove the frontend server proxy, and use nginx as the proxy to akka http backend then any browser initiated EventSource request can be closed with expected immediate termination on the backend.

;tl;dr something to do with frontend client -- sorry for the noise...