`charset` should not be added to `multipart/form-data` 

According to http://www.iana.org/assignments/media-types/multipart/form-data there are no optional parameters for `multipart/form-data`.  Akka-HTTP has given the ownership of `charset` to the `Content-Type`, not the mime type so it's non-optional for any `Content-Type` header.

This currently breaks interaction with IIS (specifically, IIS 8.5).

> can you remember why these were modeled as `WithOpenCharset`?

Hmm... good question. For form-data it really doesn't make sense since each part has it's own `Content-Type` header (which my optionally have a `charset` parameter). But is this the case for all (other) types of `multipart` messages as well? I agree that at least `mulitpart/form-data` should be `Binary` rather than `WithOpenCharset`.

I looked through the IANA pages for them, and it appears that `charset` is simply not allowed for any `multipart` data type.  If it's there, a proper parser should ignore it, but there is no allowance for it, specifically.

Ok, then `WithOpenCharset` is incorrect for all `multipart` types and they should probably `WithFixedCharset`. (`Binary` appears to be semantically wrong to me).

@sirthias I claim that `WithFixedCharset` is more wrong than `Binary` because of https://github.com/akka/akka-http/blob/master/akka-http-core/src/main/scala/akka/http/scaladsl/model/ContentType.scala#L69.  i.e. `WithFixedCharset` declares that the `ContentType` **has** a `charset`, but a `Multipart` specifically does not.

I suggested a new `WithNoCharset` type earlier, which models the situation better but seems a bit silly when there's an equivalent `Binary` type available.

Ok, I see. What we really want to express is textual mime-type that has an implied, invariant encoding. Unfortunately `WithFixedCharset` currently always produces a `charset` parameter, that's true.
Maybe we can make `WithFixedCharset` configurable as to whether it should produce a `charset` parameter or not?
Then we could use `WithFixedCharset(USASCII)` for all `multipart` types, which appears to be the semantically correct solution.

I think I need you to elaborate that last sentence.  How is `WithFixedCharset(USASCII)` semantically correct for a media type that has no `charset`, implied or otherwise?  i.e. you could replace `USASCII` with `x-windows-50220` and it would still be "correct".

Hmm to me binary seems appropriate as there's no charset which could be used to decode arbitrary multipart content. The framing can usually be parsed using USASCII (*) but the actual data (part.entity) can be anything. In the past that may have been different with emails only supporting 7bit encodings in the past but that's not the case any more, right?

(*) but definitely not in all cases, `multipart/form-data` with file upload data may contain utf8 filenames in `Content-Disposition`

The way I understand things is: Each `multipart` subtype defines itself how to encode its own parts. But the basic framing protocol underlying all `multipart` subtypes is character-based and thus must use a charset for encoding these framing characters.
If the `multipart` parent type doesn't allow for the specification of which encoding is to be used for the framing then this encoding must be explicitly or implicitly defined by the spec and be invariant. My assumption is that all framing is to be done in US-ASCII only.

Ok, I understand. The question is then, what we win by exposing/using a common `Multipart` superclass at all. The important existing multipart media types, `multipart/form-data`, and `multipart/byteranges` are binary.

http://www.iana.org/assignments/media-types/multipart/form-data:

```
Encoding considerations:  Common use is BINARY.
   In limited use (or transports that restrict the encoding to 7bit
   or 8bit), each part is encoded separately using Content-Transfer-
   Encoding; see Section 4.7 of RFC7578.
```

http://www.iana.org/assignments/media-types/multipart/byteranges:

```
Encoding considerations:  only "7bit", "8bit", or "binary" are
   permitted
```

Not sure whether you are saying this, but I don't think one can only look at the framing protocol and disregard the actual representation of the framed data. So, while there might be a `multipart` subtype which only allows e.g. 7bit USASCII encoding for all data (e.g. using BASE64) it's not how the common types work which we'd need to fix most urgently.

Ok, I see. To be honest, I think the exact way of how implementations are to deal with encoding multipart messages is (once again) not properly defined. So everybody does whatever appears easiest / most logical to them. And in this spirit we might as well also go for the simplest solution, which is probably to simply mark all `multipart` types `Binary` and be done with it.
My guess is that no animals will be harmed in the process. :)

OK, cool.  So the patch as it stands is probably "mostly" correct. I'd like to add more documentation to it, explaining why some things are there but those things are all around the bin-compat issues and those may need to be reworked cuz they need some review.

I almost tripped over my dog as I was wandering about my house, thinking about this problem but, fortunately no animals have (as yet) been harmed during this process.

see https://github.com/akka/akka/issues/16821
File with non-ascii name will give error:
`Error during processing of request: 'Illegal character 'ﾇ' in header value'. Completing with 500 Internal Server Error response.`

Need to find another solution.