Date Header value changed on akka-http server side

The client side string is "Tue, 3 Apr 2018 09:33:28 GMT”, and on the server side, the string becomes "Tue, 03 Apr 2018 09:33:28 GMT". 

I used scalaj-http to do the POST request, use header value combined string as the content to be signed, in the client side, the string length is 76, and in the server side(akka-http), the string length becomes 77.

On the client side, I used the following code to generate the Date value
    DateTimeFormatter.RFC_1123_DATE_TIME.format(ZonedDateTime.now(ZoneOffset.UTC))


I think that RFC 1123 is the wrong one to refer to and it should in fact be [RFC 5322](https://tools.ietf.org/html/rfc5322#section-3.3) which means always 2 digits.

from w3.org
Section 3.3
HTTP applications have historically allowed three different formats for the representation of date/time stamps:

      Sun, 06 Nov 1994 08:49:37 GMT  ; RFC 822, updated by RFC 1123
      Sunday, 06-Nov-94 08:49:37 GMT ; RFC 850, obsoleted by RFC 1036
      Sun Nov  6 08:49:37 1994       ; ANSI C's asctime() format


plus 

information from https://stackoverflow.com/questions/7707555/getting-date-in-http-format-in-java


@PavanKumar: Good point, but I think the reference is wrong :) RFC 5322, section 3.3 says day = ([FWS] 1*2DIGIT FWS) / obs-day. 1*2DIGIT means "at least one, at most two of DIGIT" (tools.ietf.org/html/rfc5234#section-3.6 as referenced by RFC 5322). For the purpose of HTTP/1.1 though: RFC 2616, section 3.3., references a "fixed-length" format of RFC 1123 (which uses the same definition 1*2DIGIT), defining day as 2DIGIT. It's a mess :) – ankon Jul 6 '15 at 18:33 

Please consider the possible usage of Date header, especially in aws rest request, it's a common practice in cloud rest api call. With the behavior that Date could be different at the server side, such kind of authentication will fail.

https://docs.aws.amazon.com/AmazonS3/latest/dev/RESTAuthentication.html

Authorization = "AWS" + " " + AWSAccessKeyId + ":" + Signature;

Signature = Base64( HMAC-SHA1( YourSecretAccessKeyID, UTF-8-Encoding-Of( StringToSign ) ) );

StringToSign = HTTP-Verb + "\n" +
	Content-MD5 + "\n" +
	Content-Type + "\n" +
	Date + "\n" +
	CanonicalizedAmzHeaders +
	CanonicalizedResource;

CanonicalizedResource = [ "/" + Bucket ] +
	<HTTP-Request-URI, from the protocol name up to the query string> +
	[ subresource, if present. For example "?acl", "?location", "?logging", or "?torrent"];

CanonicalizedAmzHeaders = <described below>

>  but note that this could likely break other things expecting the modeled headers to be there.

It should not break anything in akka itself though, since things like content type and other important headers are always parsed:

```
  private val alwaysParsedHeaders = Set[String](
    "connection",
    "content-encoding",
    "content-length",
    "content-type",
    "expect",
    "host",
    "sec-websocket-key",
    "sec-websocket-protocol",
    "sec-websocket-version",
    "transfer-encoding",
    "upgrade"
  )

```

As the [AWS docs state](https://docs.aws.amazon.com/AmazonS3/latest/dev/RESTAuthentication.html#RESTAuthenticationTimeStamp) you can use the `x-amz-date` header instead if you need more control over the exact value.

The only fix we could do here is allowing you to override the automatically generated `Date` header with a custom `RawHeader("Date", ...)`. But since there's the fix using `x-amz-date` it doesn't seem necessary for now.