Akka rejects requests when UTF-8 charset is explicitly specified in Accept header along with `application/json`

The problem occurred after updating to 10.0.6 from 10.0.5. I've made failing unit test here: 
https://github.com/Leammas/akka-http/commit/194378e5927afd1e735cc5061a4826e3ad6aa185

According to [iana](https://www.iana.org/assignments/media-types/application/json) the "charset" parameter should not affect compatibility.

The problem was introduced [here](https://github.com/akka/akka-http/commit/4758a44219b5e8df686b69717f192d3ffa21edb5#diff-95adf484e1280a1b0d76142e2901b916R98) but I'm not sure how to fix it without breaking new Accept-handling behavior

The behavior you describe is implemented when the `charset` parameter is offered using the `Accept-Charset` header. However, [RFC 7231, section 5.3.2](https://tools.ietf.org/html/rfc7231#section-5.3.2) explicitly mentions that `charset` is an allowed parameter to put into the `Accept`-header as well so arguably putting it there instead of using `Accept-Charset` should make no difference.

That means, we might need to treat the charset parameter in the `Accept` header specially. @raboof wdyt?

Maybe we could improve the line at https://github.com/akka/akka-http/commit/4758a44219b5e8df686b69717f192d3ffa21edb5#diff-95adf484e1280a1b0d76142e2901b916R98, to check a mediarange charset parameter against the charset given in the fixed charset mediatype?

Is the solution suggested in the PR #1140 acceptable?

Fixed in #1140