Automatically detect and use HTTP2 with prior knowledge clients

I'm not sure if this is a good feature request or not, I did a quick search of Google and a quick skim of the RFC, and couldn't find any mention of servers supporting this, but that doesn't mean it doesn't exist.

When an HTTP/2 with prior knowledge connection is made, as required by [RFC 7540 Section 3.5](https://tools.ietf.org/html/rfc7540#section-3.5), the following preface is always sent:

```
PRI * HTTP/2.0

SM

```

If an HTTP/1.1 server received this preface, it could transparently switch to HTTP/2. If it did that, the same server could support HTTP/1.1, h2c (ie via upgrade mechanism, as implemented in #2464), and h2 with prior knowledge on the same port. One practical use of this would be that the same server could serve HTTP/1.1 and gRPC using HTTP/2 prior knowledge, which would mean that you could serve Kubernetes health checks (which are HTTP/1.1) from the same port as the gRPC app.

This is related, but different, to #1966.

I agree this would be interesting, and the preface makes it kind of obvious, but I haven't seen it done anywhere else either. Not sure how well it would fit in code-wise, though ;)

Fixed in #2543 by using `UseHttp2.Negotiated` on plain http servers.