`The server-side HTTP version is not supported` being thrown on valid requests

When using the akka-http client, for seemingly completely valid requests I am getting a 

```
akka.http.scaladsl.model.IllegalResponseException: The server-side HTTP version is not supported
```

Debugging this issue locally, the exception is being thrown here https://github.com/akka/akka-http/blob/095949f13acb802f533df8413f8ce31438ac84fc/akka-http-core/src/main/scala/akka/http/impl/engine/parsing/HttpMessageParser.scala#L123 where the content of input is

```
result = {ByteString$ByteString1@66986} "ByteString$ByteString1" size = 5
 0 = {Byte@67288} 48
 1 = {Byte@67289} 13
 2 = {Byte@67290} 10
 3 = {Byte@67289} 13
 4 = {Byte@67290} 10
```

As a `utf8String` this is `"0\r\n\r\n"`

The thing is, if I replicate the exact same request using curl both the response and headers seem completely fine,  here is the relevant `curl` output

```
Note: Unnecessary use of -X or --request, GET is already inferred.
*   Trying <REMOVED>:443...
* TCP_NODELAY set
* Connected to <REMOVED> (<REMOVED>) port 443 (#0)
* ALPN, offering h2
* ALPN, offering http/1.1
* TLSv1.3 (OUT), TLS handshake, Client hello (1):
* TLSv1.3 (IN), TLS handshake, Server hello (2):
* TLSv1.2 (IN), TLS handshake, Certificate (11):
* TLSv1.2 (IN), TLS handshake, Server key exchange (12):
* TLSv1.2 (IN), TLS handshake, Server finished (14):
* TLSv1.2 (OUT), TLS handshake, Client key exchange (16):
* TLSv1.2 (OUT), TLS change cipher, Change cipher spec (1):
* TLSv1.2 (OUT), TLS handshake, Finished (20):
* TLSv1.2 (IN), TLS handshake, Finished (20):
* SSL connection using TLSv1.2 / ECDHE-RSA-AES128-GCM-SHA256
* ALPN, server did not agree to a protocol
* Server certificate:
*  subject: CN=*.<REMOVED>
*  start date: Jun  3 00:00:00 2019 GMT
*  expire date: Jul  3 12:00:00 2020 GMT
*  subjectAltName: host "<REMOVED>" matched cert's "*.<REMOVED>"
*  issuer: C=US; O=Amazon; OU=Server CA 1B; CN=Amazon
*  SSL certificate verify ok.
> GET <REMOVED> HTTP/1.1
> Host: <REMOVED>
> User-Agent: curl/7.67.0
> Accept: */*
> Authorization: Bearer <REMOVED>
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 200 
< Cache-Control: no-cache, no-store, max-age=0, must-revalidate
< Content-Type: application/x.zalando.item+json;charset=UTF-8
< Date: Thu, 09 Jan 2020 16:22:04 GMT
< ETag: "078b441eff6166110eebfd7fe352f9c6f"
< Expires: 0
< Pragma: no-cache
< X-Content-Type-Options: nosniff
< X-Frame-Options: DENY
< X-XSS-Protection: 1; mode=block
< transfer-encoding: chunked
< Connection: keep-alive
< 
<JSON RESPONSE REMOVED>

* Connection #0 to host <REMOVED> left intact
```

I have created a PR at https://github.com/akka/akka-http/pull/2877 to try and diagnose the input on where its failing.

Does anyone  have nay ideas what could be happening here and how to better help diagnose the issue 

It the `0\r\n\r\n` kindof reminds me of `chunked` encoding, perhaps something related to trailing headers? still surprising to see it here though... the `--raw` parameter to `curl` might at least show it?

So this is interested, I repeated the request with `--raw` and I have interesting results

```
Note: Unnecessary use of -X or --request, GET is already inferred.
*   Trying <REMOVED>:443...
* TCP_NODELAY set
* Connected to <REMOVED> (<REMOVED>) port 443 (#0)
* ALPN, offering h2
* ALPN, offering http/1.1
* TLSv1.3 (OUT), TLS handshake, Client hello (1):
* TLSv1.3 (IN), TLS handshake, Server hello (2):
* TLSv1.2 (IN), TLS handshake, Certificate (11):
* TLSv1.2 (IN), TLS handshake, Server key exchange (12):
* TLSv1.2 (IN), TLS handshake, Server finished (14):
* TLSv1.2 (OUT), TLS handshake, Client key exchange (16):
* TLSv1.2 (OUT), TLS change cipher, Change cipher spec (1):
* TLSv1.2 (OUT), TLS handshake, Finished (20):
* TLSv1.2 (IN), TLS handshake, Finished (20):
* SSL connection using TLSv1.2 / ECDHE-RSA-AES128-GCM-SHA256
* ALPN, server did not agree to a protocol
* Server certificate:
*  subject: CN=*.<REMOVED>
*  start date: Jun  3 00:00:00 2019 GMT
*  expire date: Jul  3 12:00:00 2020 GMT
*  subjectAltName: host "<REMOVED>" matched cert's "*.<REMOVED>"
*  issuer: C=US; O=Amazon; OU=Server CA 1B; CN=Amazon
*  SSL certificate verify ok.
> GET <REMOVED> HTTP/1.1
> Host: <REMOVED>
> User-Agent: curl/7.67.0
> Accept: */*
> Authorization: Bearer <REMOVED>
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 200 
< Cache-Control: no-cache, no-store, max-age=0, must-revalidate
< Content-Type: application/x.zalando.item+json;charset=UTF-8
< Date: Fri, 10 Jan 2020 12:01:44 GMT
< ETag: "078b441eff6166110eebfd7fe352f9c6f"
< Expires: 0
< Pragma: no-cache
< X-Content-Type-Options: nosniff
< X-Frame-Options: DENY
< X-XSS-Protection: 1; mode=block
< transfer-encoding: chunked
< Connection: keep-alive
< 
e4
<JSON RESPONSE REMOVED>
0

* Connection #0 to host <REMOVED> left intact
```

So just before the JSON response `e4` is being printed and just after the response we have `0` which I think is may what be causing the `The server-side HTTP version is not supported` to be thrown.

Also interestingly this isn't entirely deterministic.

So another update, the server which is creating these responses has been updated to the latest patch version of spring boot (1.5.22) and the issue still seems to be occurring.

Not sure where to proceed from here, can someone comment if these requests are problematic for some reason (I also don't know if its leftover state from a previous request that is causing the issue and maybe not this one specifically).

This is  an example of the `HEAD` request which I suspect would be causing the problem

```
*   Trying <REMOVED>...
* TCP_NODELAY set
* Connected to <REMOVED> (<REMOVED>) port 443 (#0)
* ALPN, offering h2
* ALPN, offering http/1.1
* TLSv1.3 (OUT), TLS handshake, Client hello (1):
* TLSv1.3 (IN), TLS handshake, Server hello (2):
* TLSv1.2 (IN), TLS handshake, Certificate (11):
* TLSv1.2 (IN), TLS handshake, Server key exchange (12):
* TLSv1.2 (IN), TLS handshake, Server finished (14):
* TLSv1.2 (OUT), TLS handshake, Client key exchange (16):
* TLSv1.2 (OUT), TLS change cipher, Change cipher spec (1):
* TLSv1.2 (OUT), TLS handshake, Finished (20):
* TLSv1.2 (IN), TLS handshake, Finished (20):
* SSL connection using TLSv1.2 / ECDHE-RSA-AES128-GCM-SHA256
* ALPN, server did not agree to a protocol
* Server certificate:
*  subject: CN=<REMOVED>
*  start date: Jun  3 00:00:00 2019 GMT
*  expire date: Jul  3 12:00:00 2020 GMT
*  subjectAltName: host "<REMOVED>" matched cert's "*.<REMOVED>"
*  issuer: C=US; O=Amazon; OU=Server CA 1B; CN=Amazon
*  SSL certificate verify ok.
> HEAD <REMOVED> HTTP/1.1
> Host: <REMOVED>
> User-Agent: curl/7.67.0
> Accept: */*
> Authorization: Bearer <REMOVED> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 200 
< Cache-Control: no-cache, no-store, max-age=0, must-revalidate
< Content-Length: 0
< Date: Fri, 10 Jan 2020 14:22:48 GMT
< Expires: 0
< Pragma: no-cache
< X-Content-Type-Options: nosniff
< X-Frame-Options: DENY
< X-XSS-Protection: 1; mode=block
< Connection: keep-alive
< 
* Connection #0 to host <REMOVED> left intact
```

I can also provide more information but not publicly because its company related, so if someone provides a contact where I can send it privately this can also work.

> So just before the JSON response `e4` is being printed and just after the response we have `0` which I think is may what be causing the `The server-side HTTP version is not supported` to be thrown (and indeed this is indicating a chunked response).

On a glance, it seems quite valid `chunked` encoding.

> Not sure where to proceed from here, can someone comment if these requests are problematic for some reason (I also don't know if its leftover state from a previous request that is causing the issue and maybe not this one specifically). I have a suspicion that what is causing this issue is the akka-http client creating a `HEAD` request, because this exception only occurs in this context.

That seems indeed like a pointer to follow.

> I can also provide more information but not publicly because its company related, so if someone provides a contact where I can send it privately this can also work.

In the best case, we'd have some kind of complete trace of a connection where it fails. DEBUG logging of the connection pool would help and also enabling `akka.http.client.log-unencrypted-network-bytes` which could be used to reproduce the complete network flow that led to the behavior. You can send it to my email address (as found in the commits). Thanks, @mdedetrich.

> DEBUG logging of the connection pool

Which class class should I set the loglevel to DEBUG for the connection pool?

> > Not sure where to proceed from here, can someone comment if these requests are problematic for some reason (I also don't know if its leftover state from a previous request that is causing the issue and maybe not this one specifically). I have a suspicion that what is causing this issue is the akka-http client creating a `HEAD` request, because this exception only occurs in this context.
> 
> That seems indeed like a pointer to follow.

I have an idea what could be the problem: A response to a HEAD request that uses `Transfer-Encoding: chunked` with an empty entity (which in case of `Transfer-Encoding: chunked` consists of `0\r\n\r\n`). Since responses to HEAD requests are not allowed to have an entity, we might not even expect a `Transfer-Encoding: chunked` response here. I'll have to look up in the specification if that would be allowed, i.e. whether it's a spring-boot bug or a bug in akka-http client.

> I have an idea what could be the problem: A response to a HEAD request that uses Transfer-Encoding: chunked with an empty entity (which in case of Transfer-Encoding: chunked consists of 0\r\n\r\n). Since responses to HEAD requests are not allowed to have an entity, we might not even expect a Transfer-Encoding: chunked response here. I'll have to look up in the specification if that would be allowed, i.e. whether it's a spring-boot bug or a bug in akka-http client.

I think that sounds like what might be the root cause. Let me know if you still want me to send you the debug trace. I can also easily test any patch/branch of akka-http locally to verify if the problem is fixed.

The response to the HEAD request above does not show that behavior but maybe some do? I guess we could confirm it if you could somehow reproduce a HEAD request against spring-boot that would respond with a `Transfer-Encoding: chunked` response.

> Which class class should I set the loglevel to DEBUG for the connection pool?

`akka.http.impl.engine.client.PoolGateway`

Okay I will send the logs through this afternoon.

> Okay I will send the logs through this afternoon.

Thanks!

> > Since responses to HEAD requests are not allowed to have an entity, we might not even expect a Transfer-Encoding: chunked response here. I'll have to look up in the specification if that would be allowed, i.e. whether it's a spring-boot bug or a bug in akka-http client.
> 
> I think that sounds like what might be the root cause. Let me know if you still want me to send you the debug trace. I can also easily test any patch/branch of akka-http locally to verify if the problem is fixed.

In the imagined scenario the bug would be on the server side.

[RFC 7230](https://tools.ietf.org/html/rfc7230#section-3.3) says:

```
   Responses to the HEAD request method (Section 4.3.2
   of [RFC7231]) never include a message body because the associated
   response header fields (e.g., Transfer-Encoding, Content-Length,
   etc.), if present, indicate only what their values would have been if
   the request method had been GET (Section 4.3.1 of [RFC7231]).
```

I.e. a `"0\r\n\r\n"` body would be illegal.

According to [RFC 7231](https://tools.ietf.org/html/rfc7231#section-4.3.2):

```
   The server SHOULD send the same
   header fields in response to a HEAD request as it would have sent if
   the request had been a GET, except that the payload header fields
   (Section 3.3) MAY be omitted.
```

the server could omit `Content-Length` or `Transfer-Encoding` completely.

The only thing we could do could be to try to improve the error message for things received after a HEAD response but even that seems a bit arbitrary.

> In the imagined scenario the bug would be on the server side.

Thanks, trawling through spring-boot issues right now.

Also I am unable to log with `akka.http.client.log-unencrypted-network-bytes` because unfortunately our network traffic is encrypted with https (and I am unable to turn this off due to security reasons). Is there a way around this?

In the meantime according to the spring docs if you set the contentLength to be explicitly 0 it should remove the `Transfer-Encoding` header so I am testing this out.

> Also I am unable to log with `akka.http.client.log-unencrypted-network-bytes` because unfortunately our network traffic is encrypted with https (and I am unable to turn this off due to security reasons). Is there a way around this?

That setting should log the plaintext of a connection regardless of whether TLS is enabled or not. You don't have to change your TLS settings. Are you saying you cannot change that setting (which itself is a security hazard because it may log sensitive data)?

If you have a suspect regarding a particular HEAD request, the problem should also show with curl. My suspicion would be that it would be against an endpoint that would also return a `Transfer-Encoding: chunked` response for a full `GET` request. A server needs to return a chunked response when it doesn't know the content length up front. E.g. akka-http would always return chunked when you run a transformation on the entity like using `Content-Encoding: gzip`. Maybe other servers are doing the same, so you could try a HEAD request and add a `Accept-Encoding: gzip` header which might make it more likely that the server returns a `Transfer-Encoding: chunked` response.

> In the meantime according to the spring docs if you set the contentLength to be explicitly 0 it should remove the `Transfer-Encoding` header so I am testing this out.

This is weird as well. The response you above has a `Content-Length: 0` header which doesn't make too much sense, because if you would run the GET request to the same URI you will most likely get a response with a non-zero `Content-Length`. `HEAD` requests can be used to determine the likely content-length of the actual `GET` request, so it's weird that a server would return zero there.

As a workaround, you could try adding a `Connection: close` header to HEAD requests which would prevent the connection from being reused but which would have some added latency for the next request for establishing the HTTPS connection.

> That setting should log the plaintext of a connection regardless of whether TLS is enabled or not. You don't have to change your TLS settings. Are you saying you cannot change that setting (which itself is a security hazard because it may log sensitive data)?

I can change the setting fine, must be a false alarm since I am not seeing any logs. I will investigate more.

> This is weird as well. The response you above has a Content-Length: 0 header which doesn't make too much sense, because if you would run the GET request to the same URI you will most likely get a response with a non-zero Content-Length. HEAD requests can be used to determine the likely content-length of the actual GET request, so it's weird that a server would return zero there.

Agreed, but I can't figure out a way of completely turning off the Content-Length apart from manually creating the entire response context (Spring is doing a lot of magic here).

> As a workaround, you could try adding a Connection: close header to HEAD requests which would prevent the connection from being reused but which would have some added latency for the next request for establishing the HTTPS connection.

I guess I could do this as a last resort.


> > That setting should log the plaintext of a connection regardless of whether TLS is enabled or not. You don't have to change your TLS settings. Are you saying you cannot change that setting (which itself is a security hazard because it may log sensitive data)?
> 
> I can change the setting fine, must be a false alarm since I am not seeing any logs. I will investigate more.

Ah, this setting unfortunately logs to `system.log` which probably logs as `akka.actor.ActorSystemImpl`.

> Ah, this setting unfortunately logs to system.log which probably logs as akka.actor.ActorSystemImpl.

This seems to have worked, the logs have been sent.

To sum up the private continuation of this topic: We verified that the server is indeed sending a `Transfer-Encoding: chunked`-like response to a HEAD request. In fact, it is sending this response with a `Content-Length: 0` header and without a `Transfer-Encoding: chunked` header which is even more confusing.

Would be interesting to know what's ultimately behind this. I'm keeping this open for now even if there doesn't seem to be anything which we could do right now.

Thanks for the help, @jrudolph how annoying would it be to workaround this behaviour and to provide a warning, i.e. when processed a `HEAD` response, see if there are in bytes in the response body and if there then log a warning and flush out all of the bytes.

Spring-boot definitely does appear  to be breaking the spec here, but I suspect many http clients just ignore the response body in the HEAD request rather than relying on the response body to be completely empty and breaking otherwise (which is what akka-http client seems to be doing).

This is quite similar to illegal e-tag headers, where akka-http still tries to work with incorrectly formatted e-tag headers however it doesn't completely break.

> Thanks for the help, @jrudolph how annoying would it be to workaround this behaviour and to provide a warning, i.e. when processed a `HEAD` response, see if there are in bytes in the response body and if there then log a warning and flush out all of the bytes?

The problem is that there's no separation between subsequent responses in HTTP, so there's no unambiguous way to do that.

Even trying to see if there's data on the line when no request is pending is hard because we might run into race condition that would lead to false positives (this is basically a consequence of the current implementation and is something that is easier to do for synchronous clients like curl).

I tried adding a different message if garbage is received after a HEAD response but even that seems somewhat arbitrary and is adding quite some complexity for somewhat little gain.

Yeah actually you are right, I just tried this right now and due to the streaming nature of akka-http its quite difficult to do. There is no way to peek into the future to figure out if you are dealing with a bad body or not.

One solution I see is to make `protected final def parseProtocol(input: ByteString, cursor: Int)` accept another parameter that basically allows it to  parse until we find a valid HTTP Protocol header. I will try this and see if it doesn't cause too many problems.

This may be related https://forums.aws.amazon.com/thread.jspa?threadID=26610, investigating

Okay, so according to a quote from the above thread there may be a conflict, i.e.

>Neither of these concerns are valid.

>The T-E can change from one response message to another, so the  response from HEAD would not tell you what encoding would be applied to a future GET.  In addition, all HTTP/1.1 compliant clients must support T-E chunked, so it is not relevant what encoding will be applied to some future response: you have to be able to handle what it sends you, chunked or not chunked

> In addition, it would not in any way violate the RFC to not send a T-E with a HEAD response.  The RFC states that the metainformation headers (i.e., the headers specifed in section 7.1) should be the same.  The T-E is not a metainformation header.  (The RFC also says the metainformation headers SHOULD be the same, not MUST, but since T-E is not a metainformation header anyway, this doesn't matter.)

So according to this guy, just by using HTTP 1.1 any request (regardless of its `HEAD` or not) can have transfer encoding chunks in the body, so in other words HTTP 1.1 trumps methods in this case 'HEAD`. 

From the sounds of it, I think that akka-http has to bite the bullet and handle this although it may be less complicated because you may only have to check for empty chunked encoding bytes and nothing else. 


Interesting! I haven't been following this issue closely, so I might have missed something, but...

> according to this guy, just by using HTTP 1.1 any request (regardless if its HEAD or not) can have transfer encoding chunks in the body

Indeed there is some confusion whether `0\r\n\r\n` should appear in the body of a HEAD request when it has `Transfer-Encoding: chunked` set: [RFC7230](https://tools.ietf.org/html/rfc7230#section-3.3) seems to quite clearly say 'no', but the reasoning found in that amazon forum thread might have some merit as well, and suggests 'yes'. That might need some further digging.

However, that does not seem to be quite relevant to the issue here: if I understand correctly, here we are seeing `0\r\n\r\n` in a HEAD response *with* a `Content-Length: 0` and *without* a `Transfer-Encoding: chunked` header. That seems wrong in either case, right?

> However, that does not seem to be quite relevant to the issue here: if I understand correctly, here we are seeing 0\r\n\r\n in a HEAD response with a Content-Length: 0 and without a Transfer-Encoding: chunked header. That seems wrong in either case, right?

It seems like on of those cases where its technically wrong but in practice you have to account for this exception. Note that from looking at the code, it appears that even if there was a `Transfer-Encoding: chunked` header the akka-http client wouldn't work, because the code just checks the `Content-Length` header and if it doesn't exist or its value is 0 then it makes the assumption that the body is completely empty (`Transfer-Encoding: chunked` or not).

I am still digging up how this is actually happening so I will update the thread with details when I get them, I have the general feeling that this limitation is impractically strict though.

> I am still digging up how this is actually happening so I will update the thread with details when I get them, I have the general feeling that this limitation is impractically strict though.

Let's not get side-tracked by a random ancient post on the internet. This is a clear violation of the spec and it cannot be handled gracefully. The best thing we could do would be closing the connection immediately with an error if we detect data that we don't expect. In that case the next request would go to a new connection and might succeed then. The result is not much better than the current situation, though: you would still get an error/warning in the logs and the next request would succeed (which it currently does as well after the retry). But even that wouldn't be fool proof because of the inherent race conditions in the protocol: we might only read the extra data after the next request was sent on the connection so we would end up in the exact same situation as now.

Maybe one thing we need to improve is to tone down the logging. On a persistent HTTP connections all kind of things can go wrong, that's why we have the retrying logic. In the logs you sent me, an ERROR was logged noisily even if the request in question ultimately succeeded. That shouldn't happen. I think we can should log (transient) errors on pool connections with DEBUG level, since the error will be offered to the user if the request ultimately fails after all retries.

> Let's not get side-tracked by a random ancient post on the internet. This is a clear violation of the spec and it cannot be handled gracefully. 

Sure, the spec seems to also be in violation of this `In addition, all HTTP/1.1 compliant clients must support T-E chunked`, which means there is conflict here.

My point is that if we just stick strictly to the protocol it may essentially mean that akka-http client is unusable in this situation, because if the server is sitting behind a reverse proxy/LB then it simply won't work (where as other http clients will work fine).

I mean actually the most common use of `HEAD` is for caching/seeing when static assets are invalidated and if you happen to be using S3 bucket to store such assets (for example) then you would get apparently have the exact same problem.

> Sure, the spec seems to also be in violation of this `In addition, all HTTP/1.1 compliant clients must support T-E chunked`, which means there is conflict here.

To repeat what @raboof said above: the problematic response does not use `Transfer-Encoding: chunked` so this cannot be the immediate problem here.

> My point is that if we just stick strictly to the protocol it may essentially mean that akka-http client is unusable in this situation, because if the server is sitting behind a reverse proxy/LB then it simply won't work (where as other http clients will work fine).

I haven't seen a server that behaves like this before, this is not a common scenario that would warrant an exception to the spec. Also, there's is no client that I know which would somehow support it (because it's impossible in general as explained above). (That you couldn't reproduce it with curl can only mean that curl sends a different request, not that it handled the response differently.)

> To repeat what @raboof said above: the problematic response does not use Transfer-Encoding: chunked so this cannot be the immediate problem here.

From looking at the code at https://github.com/akka/akka-http/blob/97f3cd12782a881c030349287db780f55b01d72b/akka-http-core/src/main/scala/akka/http/impl/engine/parsing/HttpResponseParser.scala#L162 I think it would fail even if it had the `Transfer-Encoding: chunked` (I could be wrong here though, I am not that familiar with the code).

I definitely do agree that if there is a response body with T-E bytes it should have the `Transfer-Encoding: chunked` (I am still trying to figure out on my end how this is happening).

> I haven't seen a server that behaves like this before, this is not a common scenario that would warrant an exception to the spec. Also, there's is no client that I know which would somehow support it (because it's impossible in general as explained above). (That you couldn't reproduce it with curl can only mean that curl sends a different request, not that it handled the response differently.)

Well here people here are using standard http clients (i.e. the one that comes with spring boot) and they don't have issues with this endpoint, its only akka-http. I wouldn't go so far to say that they "support" it, but most http clients seem to completely discard any body that a `HEAD` response might have. I think that akka-http client is the only client that actually breaks in this scenario (rather than just logging an error)

> Maybe one thing we need to improve is to tone down the logging. On a persistent HTTP connections all kind of things can go wrong, that's why we have the retrying logic. In the logs you sent me, an ERROR was logged noisily even if the request in question ultimately succeeded. That shouldn't happen. I think we can should log (transient) errors on pool connections with DEBUG level, since the error will be offered to the user if the request ultimately fails after all retries.

Its not just a logging issue, it also throws an exception. Basically the next request that gets called to the host after the response from `HEAD` will always fail. If the exception was thrown when the response from the `HEAD` request happens then it would be less of an issue (from our end we could just catch the exception), but we can't do this.

I also asked our network infrastructure team where I work and there is actually nothing special about this service (which is causing the problematic responses) deployment. Its actually only an EC2 instance that is sitting behind a standard Amazon ELB (elastic load balance). From the linked Spring Boot ticket they also seem to claim that they are not even handling `T-E`, that this is done from the servlet infrastructure (in this case Tomcat 8.5.3)

> Its not just a logging issue, it also throws an exception. Basically the next request that gets called to the host after the response from `HEAD` will always fail. If the exception was thrown when the response from the `HEAD` request happens then it would be less of an issue (from our end we could just catch the exception), but its actually the next request after the `HEAD` that is breaking.

Your log showed the second request ultimately succeeding, so if that's not the case a reproducer would be good.

> Well here people here are using standard http clients (i.e. the one that comes with spring boot) and they don't have issues with this endpoint, its only akka-http. I wouldn't go so far to say that they "support" it, but most http clients seem to completely discard/ignore any body that a `HEAD` response might have which is different to the akka-http client is the only client that actually breaks in this scenario (rather than just logging an error).

I'd assume they succeed in the same way as akka-http or curl which is by closing the broken connection and retrying the request.

E.g. here's a reproduction of a such a broken server:

```scala
package org.example

import java.net.ServerSocket

object BrokenHeadServer extends App {
  val server = new ServerSocket(12347)

  while (true) {
    val s = server.accept()

    new Thread {
      override def run(): Unit = {
        val is = s.getInputStream
        val os = s.getOutputStream

        val buffer = new Array[Byte](65536)

        def receiveRequest(): Unit = {
          val read = is.read(buffer)
          val req = buffer.take(read)
          require(req.takeRight(4).toSeq == Seq[Byte]('\r', '\n', '\r', '\n'), s"Expected end of request but got '${req.takeRight(4).toSeq}'")
          println(s"Got request: '${new String(req, "utf8")}'")
        }

        receiveRequest()
        os.write("HTTP/1.1 200 Ok\r\nContent-Length: 0\r\n\r\n".getBytes)

        receiveRequest()
        // You don't have control over when bytes are received over the network, so to test the worst case
        // we delay the problematic bits as much as possible.
        os.write("0\r\n\r\n".getBytes)
        os.write("HTTP/1.1 200 Ok\r\nContent-Length: 0\r\n\r\n".getBytes)
        s.close()
      }
    }.start()
  }
}
```

and here's what curl does:

```
λ curl -I --raw -vvvv http://localhost:12347/item http://localhost:12347/item
*   Trying ::1:12347...
* TCP_NODELAY set
* Connected to localhost (::1) port 12347 (#0)
> HEAD /item HTTP/1.1
> Host: localhost:12347
> User-Agent: curl/7.65.3
> Accept: */*
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 200 Ok
HTTP/1.1 200 Ok
< Content-Length: 0
Content-Length: 0

< 
* Connection #0 to host localhost left intact
* Found bundle for host localhost: 0x5590038ea6a0 [serially]
* Can not multiplex, even if we wanted to!
* Re-using existing connection! (#0) with host localhost
* Connected to localhost (::1) port 12347 (#0)
> HEAD /item HTTP/1.1
> Host: localhost:12347
> User-Agent: curl/7.65.3
> Accept: */*
> 
* Connection died, retrying a fresh connect
* Closing connection 0
* Issue another request to this URL: 'http://localhost:12347/item'
* Hostname localhost was found in DNS cache
*   Trying ::1:12347...
* TCP_NODELAY set
* Connected to localhost (::1) port 12347 (#1)
> HEAD /item HTTP/1.1
> Host: localhost:12347
> User-Agent: curl/7.65.3
> Accept: */*
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 200 Ok
HTTP/1.1 200 Ok
< Content-Length: 0
Content-Length: 0

< 
* Connection #1 to host localhost left intact
```

where it says: 

```
* Connection died, retrying a fresh connect
* Closing connection 0
* Issue another request to this URL: 'http://localhost:12347/item'
```

"Connection died" is what curl says when it receives a weird response.

Okay so I went ahead and made a sample project with different http clients to test out the buggy endpoint that I have https://github.com/mdedetrich/http-head-no-body-debugging

Using the project is simple, just supply the URI as the first command line argument (the project also accepts a TOKEN parameter from env which I need to replicate at work).

I can actually confirm that at least for the async based http clients (okhttp/akka-http/async-http-client) they all have this issue, so I retract what I said earlier http clients ignoring the response (I think that really old sync based http clients do this, but I deliberately tested this with "modern" async clients).

Interestingly though, akka-http client only thows this exception when concurrent http requests are made, hence this line here https://github.com/mdedetrich/http-head-no-body-debugging/blob/master/src/main/scala/AkkaHttp.scala#L51-L53.

So I am going to try to spend the rest of the time figuring out what the hell is adding these empty cunked encoding bytes into the body. I should get a locally running version of the problematic spring boot webserver tomorrow to actually isolate whether it is an issue with spring boot or something else.

Thanks for the testing and the update.

> Interestingly though, akka-http client only thows this exception when concurrent http requests are made, hence this line here [mdedetrich/http-head-no-body-debugging:src/main/scala/AkkaHttp.scala@`master`#L51-L53](https://github.com/mdedetrich/http-head-no-body-debugging/blob/master/src/main/scala/AkkaHttp.scala#L51-L53) [](/mdedetrich/http-head-no-body-debugging/blob/HEAD@{2020-01-16T14:30:38Z}/src/main/scala/AkkaHttp.scala#L51-L53)

One reason could be that the requests in one `future()` call are not really sequential because `discardEntityBytes` is running in parallel, so you effectively run those requests of one `future()` call in parallel so they are then scheduled to different connections. You could try setting `akka.http.host-connection-pool.max-connections = 1` to see if that changes anything.

So here is an update

1. I can confirm that spring-boot is not adding this as a response, so there is something on the network that is causing the problem
2. When you say to run `curl -I --raw -vvvv` and to look for the `Connection died, retrying a fresh connect`, I am actually unable to replicate this. The response of curl never says the connection died (I have emailed the details)
3. Since it seems to be something outside of spring-boot, I will make an issue in our teams network infrastructure.

@mdedetrich did you ever find out what was going on?

I'm closing this for now. Let us know if there's still something we could do.

Unfortunately due to Corona we had some more urgent topics at work that I had to look into. If I will find more information I will update the ticket however the services that were causing these issues are also being migrated from the legacy CloudFormation stack (which is where I think the issue was) so it may be resolved indirectly anyways.

Thanks, was just curious.

Matthew de Detrich <notifications@github.com> schrieb am Mo., 6. Apr. 2020,
17:55:

> Unfortunately due to Corona we had some more urgent topics at work that I
> had to look into. If I will find more information I will update the ticket
> however the services that were causing these issues are also being migrated
> from the legacy CloudFormation stack (which is where I think the issue was)
> so it may be resolved indirectly anyways.
>
> —
> You are receiving this because you modified the open/close state.
> Reply to this email directly, view it on GitHub
> <https://github.com/akka/akka-http/issues/2883#issuecomment-609880098>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AAACNDHKIOE3OLHFXRHTGQLRLH3NXANCNFSM4KE3BKCA>
> .
>


Hi @jrudolph, @mdedetrich. Is there a solution to this?

> Hi @jrudolph, @mdedetrich. Is there a solution to this?

You will always get this error message when the server didn't speak proper HTTP (i.e. sends a `HTTP/1.1` at the beginning of a response), so it can happen in lots of situations.